/* FORM */

.post-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.post-form {
  display: flex;
  flex-wrap: wrap; /* Damit die Fieldsets umbrechen, wenn der Platz nicht ausreicht */
  gap: 30px; /* Abstand zwischen den Fieldsets */
  font-family: var(--font-body);
}

.post-form-container form {
  width: 100%;
  max-width: 1050px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.post-form fieldset {
  flex: 1; /* Fieldsets nehmen jeweils 45% der Breite des Containers ein */
  min-width: 300px;
  border: 1px solid var(--color-accent);
  padding: 15px;
  border-radius: 8px;
}

.post-form legend {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 5px;
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.post-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: normal;
}

.post-form input[type='text'],
.post-form input[type='date'],
.post-form textarea,
.post-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  font-size: 14px;
}

.post-form input[type='text']:focus,
.post-form input[type='date']:focus,
.post-form textarea:focus,
.post-form select:focus {
  outline: 2px solid var(--color-accent);
}

.post-form input[readOnly] {
  color: #757575;
  cursor: not-allowed;
}

.post-form input[readOnly]:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}

.post-form textarea {
  resize: vertical;
  min-height: 100px;
}

.post-form__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.post-form__button {
  width: 100px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
  font-family: var(--font-body);
  text-transform: uppercase;
}
.post-form__cancel {
  background-color: transparent;
  border: 1px solid var(--color-accent);
}

.post-form__submit {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.post-form__cancel:hover,
.post-form__submit:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-color: var(--color-primary);
}

.post-form__search-suggestions {
  list-style: none;
  text-align: left;
  padding: 0;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto; /* Ermöglicht Scrollen, wenn viele Ergebnisse vorhanden sind */
  background-color: var(--color-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-family: monospace;
}

.post-form__search-suggestions li {
  cursor: pointer;
  padding: 8px 20px;
}

.post-form__search-suggestions li:last-child {
  border-bottom: none;
}

.post-form__search-suggestions li:hover {
  background-color: var(--color-accent);
  color: white;
}

.post-form__error {
  color: #d32f2f;
  text-align: left;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
