.post-location {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
  font-weight: bold;
}

.post-location__icon {
  color: var(--color-accent);
  font-size: 35px;
  margin-right: 8px;
}
