.post-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post-author > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover; /* Bild wird nicht verzerrt */
  /*border: 2px solid #fff;*/
}
