.post-card {
  flex: 0 0 250px;
  background: var(--color-background);
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  text-align: left;
}
.post-card:hover {
  transform: scale(1.05);
}
.post-card:hover .post-image__thumb {
  filter: grayscale(0%);
}
.post-card__text {
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}
