main.dashboard {
  padding-top: var(--padding-top);
}
.dashboard {
  display: flex;
}

.dashboard > section {
  flex: 1;
}

.dashboard__posts {
  display: flex;
  justify-content: center;
}

.dashboard__map {
  position: sticky;
  top: var(--header-height);
  align-self: start;
}
