.postdetails-layout {
  display: flex;
}

.postdetails-layout > section {
  flex: 1;
}

.postdetails-content {
  padding: 3rem;
}

.postdetails-map {
}

.postdetails-content h1 {
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.postdetails-content__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.postdetails-content__date {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  color: #666;
}
.postdetails-content__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.postdetails-content__author > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postdetails-content > img {
  width: 100%;
  margin: 20px 0;
}

.postdetails-content__text {
  text-align: justify;
}

.postdetails-content p {
  margin-top: 2rem;
}

.postdetails__location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  font-weight: bold;
}

.postdetails__icon {
  color: var(--color-accent);
  font-size: 35px;
  margin-right: 8px;
}

.postdetails__separator {
  color: var(--color-accent);
  padding: 0 4px;
}

/* BAck Button -> ToDO: stylen*/
.back-button {
  all: unset; /* entfernt ALLE Standard-Button-Stile */
  display: inline-flex;
  align-items: start;
  gap: 6px;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1rem;
}

.back-button:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.back-icon {
  font-size: 1.2rem;
}
