main.post-details {
  padding-top: 95px;
}
.post-details {
  display: flex;
}

.post-details > section {
  flex: 1;
}

.post-details__content {
  padding: 3rem;
}

.post-details__header {
  display: flex;
  flex-direction: column;
  align-items: center; /* zentriert den Titel */
  position: relative;
  margin-bottom: 2rem;
}

.post-details__text {
  text-align: justify;
}

.post-details__text h2 {
  font-size: 1.3em;
}

.post-details__text p {
  margin-top: 2rem;
}
