.logo-title {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-bottom-left-radius: 2rem;
  color: var(--color-accent);
  padding: 2rem;
  font-size: 1.5rem;
  height: 6rem;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-bottom-left-radius 0.6s ease-in-out;
}
.logo-title.scrolled {
  border-bottom-left-radius: 0;
}
.logo-icon {
  flex-shrink: 0;
  font-size: 2.5rem;
  color: var(--color-accent);
  margin-right: 0.5em;
  vertical-align: middle;
}
@media (max-width: 1125px) {
  .logo-title {
    border-bottom-left-radius: 0rem;
  }
}
@media (max-width: 450px) {
  .logo-title {
    white-space: wrap;
  }
}
