.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--color-accent);
  border-bottom-left-radius: 2rem;
  height: 6rem;
  position: fixed;
  right: 0px;
  z-index: 1000;
  transition: width 0.8s ease-in-out, margin-left 0.8s ease-in-out;
}

.menu-bar.initial {
  width: 78%;
  margin-left: auto;
}

.menu-bar.scrolled {
  width: 100%;
  margin-left: auto;
}

@media (max-width: 1125px) {
  .menu-bar.initial {
    width: 100%;
  }
}
