.map-wrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - var(--header-height)
  ); /* calculate height of the screen minus the MenuBar height = 6 rem*/
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 400px) {
  .map-wrap {
    height: calc(50vh - var(--header-height));
  }
}
