/*css Klasse von MapTiler in der das popup gerender wird*/
.maplibregl-popup-content {
  background: white !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  padding: 1rem !important;
  font-family: inherit;
  color: black;
  min-width: 250px;
}
/*css Klasse von MapTiler für den close btn*/
.maplibregl-popup-close-button {
  font-size: 1.1rem;
}

.maplibregl-popup-close-button:hover {
  background-color: transparent;
  color: var(--color-accent);
}

.map-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-body);
  font-size: 0.8rem;
  border-radius: 10px;
  /*   max-width: 220px;
 */
}

.map-popup h3 {
  margin: 0 0 15px;
  font-size: 1.3em;
}

.map-popup__link {
  margin-top: 15px;
  color: black;
  text-decoration: none;
}

.map-popup__link:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.map-popup a:focus,
.map-popup a:focus-visible {
  outline: none;
}
